version: "3.5"

services:
  app:
    build: .
    ports:
      - 8080:8080
    volumes:
      - ./:/app
  db:
    image: mysql:8.0
    container_name: game-db
    environment:
      MYSQL_DATABASE: go_db
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - 3306:3306
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/my.conf:/etc/mysql/conf.d/my.cnf
      - ./mysql/init_db:/docker-entrypoint-initdb.d
#volumes:
#  db-store:
